ul.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
li.page-item {
  padding: 10px;
}
li.page-item {
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  background-color: var(--bg);
}
li.page-item.disabled a {
  color: var(--inactiveColor);
}
li.page-item.active {
  background-color: var(--primary);
}
li.page-item.active a {
  color: var(--bg);
  font-weight: 600;
}
li.page-item:first-child {
  border-radius: 10px 0 0 10px;
}
li.page-item:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid var(--primary);
}
