<header>
  <div class="header-image-container">
    <div class="header-image">
      <img src="{{ .Site.Params.about.profileImage | relURL }}" alt="profile image of {{ .Site.Params.author }}"/>
    </div>
  </div>
  <div class="header-info">
    {{ if not .IsHome }}
    <a class="home-icon" href="{{ `/` | relURL }}" aria-label="home page">
      {{ partial "homeIcon" . }}
    </a>
    {{ else }}
    <h1 class="site-title">{{- .Site.Title -}}</h1>
    {{ end }}

    <div>
      <p class="site-title home-{{ .IsHome }}">
        {{ if not .IsHome }} {{ .Site.Title }} {{ end }}
      </p>
      <p class="about-narrative">
      {{ .Site.Params.about.narrative | markdownify }}
      </p>
    </div>

    <div class="social-info">
      {{- range $key, $val := .Site.Params.social -}}    
        <a
          class="social-link"
          href="{{ $val }}"
          aria-label="{{ $key }}"
        >
          {{- $key -}}
        </a>    
      {{- end -}}
    </div>
  </div>
</header>
