{{- if .PrevInSection }}
    <a
      class="active primary-icon"
      href="{{ .PrevInSection.Permalink | relURL }}"
      aria-label="Previous Article"
      ><i class="bi bi-arrow-left-circle"></i
    ></a>
    {{- else }}
    <div class="disabled"><i class="bi bi-arrow-left-circle"></i></div>
    {{- end }}

    {{- if .NextInSection }}
    <a
      class="active primary-icon"
      href="{{ .NextInSection.Permalink | relURL }}"
      aria-label="Next Article"
      ><i class="bi bi-arrow-right-circle"></i
    ></a>
    {{- else }}
    <div class="disabled"><i class="bi bi-arrow-right-circle"></i></div>
    {{- end }}
  </div>