{{if or .PrevInSection .NextInSection }}
{{- if .PrevInSection }}
    <a
      class="active icon"
      href="{{ .PrevInSection.Permalink | relURL }}"
      aria-label="Previous Article"
      ><i class="bi bi-arrow-left-circle-fill"></i
    ></a>
    {{- else }}
    <div class="disabled icon"><i class="bi bi-arrow-left-circle-fill"></i></div>
    {{- end }}

    {{- if .NextInSection }}
    <a
      class="active icon"
      href="{{ .NextInSection.Permalink | relURL }}"
      aria-label="Next Article"
      ><i class="bi bi-arrow-right-circle-fill"></i
    ></a>
    {{- else }}
    <div class="disabled icon"><i class="bi bi-arrow-right-circle-fill"></i></div>
    {{- end }}
  </div>
  {{ end }}