{{ $scratch := newScratch }}
{{ $scratch.Delete "custom" }}
{{ range $name, $value := .taxo }}
{{ $scratch.Add "custom" (slice (dict "Name" $name "Value" $value "Num" (len $value))) }}
{{ end }}

{{ range sort ($scratch.Get "custom") ".Num" "desc" }}
{{ $taxaTypeName := .Name }}
<h6>
  {{ $taxaTypeName | humanize }}
</h6>
{{ $this_taxa := index $.taxo .Name }}
<div class="taxa-container">
  {{ range $this_taxa.ByCount }}
  {{ $taxaValueName := .Page.Title }}
    <a class="taxa" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
  {{ end }}
</div>
{{ end }}
